*{
    box-sizing: border-box;
}
body{
    margin:auto;
    background-color:#221b1e; 
}
.padre{
    background-color:black;
    width: 742px;
    height: 795px;
    display:flex;
    justify-content: center; 
    position: relative;
    z-index: 1
}
.uno{
    margin-top:63px;
    display:flex;
    justify-content: center; 
    position: absolute;
    z-index: 2
}
.dos{
    margin-top:63px;
    display:flex;
    justify-content: center; 
    position: absolute;
    z-index: 3
}
.tres{
    margin-top:63px;
    display:flex;
    justify-content: center; 
    position: absolute;
    z-index: 4
}
.cuatro{
    margin-top:63px;
    display:flex;
    justify-content: center; 
    position: absolute;
    z-index: 5
}
.cinco{
    margin-top:63px;
    display:flex;
    justify-content: center; 
    position: absolute;
    z-index: 6
}
.seis{
    margin-top:63px;
    display:flex;
    justify-content: center; 
    position: absolute;
    z-index: 7
}
.siete{
    margin-top:63px;
    display:flex;
    justify-content: center; 
    position: absolute;
    z-index: 8
}
.ocho{
    margin-top:63px;
    display:flex;
    justify-content: center; 
    position: absolute;
    z-index: 9
}
.nueve{
    margin-top:63px;
    display:flex;
    justify-content: center; 
    position: absolute;
    z-index: 10
}
.diez{
    margin-top:63px;
    display:flex;
    justify-content: center; 
    position: absolute;
    z-index: 11
}
.once{
    margin-top:63px;
    display:flex;
    justify-content: center; 
    position: absolute;
    z-index: 12
}
.doce{
    margin-top:63px;
    display:flex;
    justify-content: center; 
    position: absolute;
    z-index: 13
}
.trece{
    margin-top:63px;
    display:flex;
    justify-content: center; 
    position: absolute;
    z-index: 14
}
.dieciseis{
    margin-top:63px;
    display:flex;
    justify-content: center; 
    position: absolute;
    z-index: 16
}
.diecisiete{
    margin-top:63px;
    display:flex;
    justify-content: center; 
    position: absolute;
    z-index: 17
}
.dieciocho{
    margin-top:63px;
    display:flex;
    justify-content: center; 
    position: absolute;
    z-index: 18
}
.animate0{
	display: inline-block;
  	margin: 0 0.5rem;
	animation:backInDown; /* referring directly to the animation's @keyframe declaration */
 	animation-duration: 2s; /* don't forget to set a duration! */
}
.animate{
	display: inline-block;
  	margin: 0 0.5rem;
	animation:flash; /* referring directly to the animation's @keyframe declaration */
 	animation-duration: 2s; /* don't forget to set a duration! */
    animation-delay: 2s; /*despues de la otra animacion*/
}
.animate2{
	display: inline-block;
  	margin: 0 0.5rem;
	animation:pulse; /* referring directly to the animation's @keyframe declaration */
 	animation-duration: 2s; /* don't forget to set a duration! */
	animation-delay: 4s; /*despues de la otra animacion*/
}
.animate3{
	display: inline-block;
  	margin: 0 0.5rem;
	animation:rubberBand; /* referring directly to the animation's @keyframe declaration */
 	animation-duration: 2s; /* don't forget to set a duration! */
	animation-delay: 6s; /*despues de la otra animacion*/
}
.animate4{
	display: inline-block;
  	margin: 0 0.5rem;
	animation:swing; /* referring directly to the animation's @keyframe declaration */
 	animation-duration: 2s; /* don't forget to set a duration! */
	animation-delay: 8s; /*despues de la otra animacion*/
}
.animate5{
	display: inline-block;
  	margin: 0 0.5rem;
	animation:wobble; /* referring directly to the animation's @keyframe declaration */
 	animation-duration: 2s; /* don't forget to set a duration! */
	animation-delay: 10s; /*despues de la otra animacion*/
}
.animate6{
	display: inline-block;
  	margin: 0 0.5rem;
	animation:jello; /* referring directly to the animation's @keyframe declaration */
 	animation-duration: 2s; /* don't forget to set a duration! */
	animation-delay: 12s; /*despues de la otra animacion*/
}
.animate7{
	display: inline-block;
  	margin: 0 0.5rem;
	animation:backInDown; /* referring directly to the animation's @keyframe declaration */
 	animation-duration: 2s; /* don't forget to set a duration! */
    animation-delay: 14s; /*despues de la otra animacion*/
}
.animate8{
	display: inline-block;
  	margin: 0 0.5rem;
	animation:backInLeft; /* referring directly to the animation's @keyframe declaration */
 	animation-duration: 2s; /* don't forget to set a duration! */
	animation-delay: 16s; /*despues de la otra animacion*/
}
.animate9{
	display: inline-block;
  	margin: 0 0.5rem;
	animation:backInRight; /* referring directly to the animation's @keyframe declaration */
 	animation-duration: 2s; /* don't forget to set a duration! */
	animation-delay: 18s; /*despues de la otra animacion*/
}
.animate10{
	display: inline-block;
  	margin: 0 0.5rem;
	animation:backInUp; /* referring directly to the animation's @keyframe declaration */
 	animation-duration: 2s; /* don't forget to set a duration! */
	animation-delay: 20s; /*despues de la otra animacion*/
}
.animate11{
	display: inline-block;
  	margin: 0 0.5rem;
	animation:bounceInDown; /* referring directly to the animation's @keyframe declaration */
 	animation-duration: 2s; /* don't forget to set a duration! */
	animation-delay: 22s; /*despues de la otra animacion*/
}
.animate12{
	display: inline-block;
  	margin: 0 0.5rem;
	animation:bounceInLeft; /* referring directly to the animation's @keyframe declaration */
 	animation-duration: 2s; /* don't forget to set a duration! */
	animation-delay: 24s; /*despues de la otra animacion*/
}
.animate13{
	display: inline-block;
  	margin: 0 0.5rem;
	animation:bounceInRight; /* referring directly to the animation's @keyframe declaration */
 	animation-duration: 2s; /* don't forget to set a duration! */
    animation-delay: 26s; /*despues de la otra animacion*/
}